.about_index {
  position: relative;
  .hezuoyiyuan {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 1247px;
    height: 418px;
    background-color: #07234a;
    position: absolute;
    left: 50%;
    top: 106px;
    transform: translateX(-50%);

    .diandian1 {
      width: 377px;
      height: 147px;
      background:url('../../assets/点阵.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 37px;
      left: 18px;
    }

    .diandian2 {
      position: absolute;
      top: 261px;
      right: 27px;
      width: 377px;
      height: 147px;
      background:url('../../assets/点阵.png') no-repeat;
      background-size: 100% 100%;
    }

    .hezuoyiyuanzi {
      width:326px;
      height:143px;
      background:url('../../assets/hezuoyiyuan.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 18px;
      bottom: 19px;
    }
  }
  .ditu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 1254px;
    height: 1010px;
    background-color: #667fc9;
    position: absolute;
    top: 573px;
    left: 50%;
    transform: translateX(-50%);
    background:url('../../assets/鸡.png') no-repeat;
    background-size: 100% 100%;
  }

  .yiyuantubiao {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 1254px;
    height: 350px;
    position: absolute;
    top: 1616px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;

    .xxyiyuan {
      width: 363px;
      height: 236px;
      background-color: #ffffff;
      border: 1px solid #bcbcbc;
      border-radius: 5px;
      position: relative;
      margin-top: 50px;

      .icon1 {
        width: 128px;
        height: 128px;
        background-color: aqua;
        background:url('../../assets/微信图片_20200613210012.jpg') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .icon2 {
        width: 128px;
        height: 128px;
        background-color: aqua;
        background:url('../../assets/微信图片_20200613210016.png') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .icon3 {
        width: 128px;
        height: 128px;
        background-color: aqua;
        background:url('../../assets/微信图片_20200613210023.png') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .text {
        font-family: Microsoft YaHei UI;
        font-weight: 400;
        color: #787878;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        font-size: 22px;
        text-align: center;
      }
    }
  }
}

 
   