.about_index {
  position: relative;
  .hezuoyiyuan {
    width: 1247px;
    height: 418px;
    background-color: #07234a;
    position: absolute;
    left: 50%;
    top: 106px;
    transform: translateX(-50%);

    .diandian1 {
      width: 377px;
      height: 147px;
      background:url('../../assets/点阵.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 37px;
      left: 18px;
    }

    .diandian2 {
      position: absolute;
      top: 261px;
      right: 27px;
      width: 377px;
      height: 147px;
      background:url('../../assets/点阵.png') no-repeat;
      background-size: 100% 100%;
    }

    .hezuoyiyuanzi {
      width:326px;
      height:143px;
      background:url('../../assets/hezuoyiyuan.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 18px;
      bottom: 19px;
    }
  }
  .ditu {
    width: 1254px;
    height: 1010px;
    background-color: #667fc9;
    position: absolute;
    top: 573px;
    left: 50%;
    transform: translateX(-50%);
    background:url('../../assets/鸡.png') no-repeat;
    background-size: 100% 100%;
  }

  .yiyuantubiao {
    width: 1222px;
    height: 236px;
    position: absolute;
    top: 1616px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;

    .xxyiyuan {
      width: 363px;
      height: 236px;
      background:url('../../assets/avatar.png') no-repeat;
      background-size: 100% 100%;
      background-color: #ffffff;
      border: 1px solid #bcbcbc;
      border-radius: 5px;
      position: relative;

      .text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
      }
    }
  }
}

 
   