.server_index {
    min-width: 1030px;
    overflow: hidden;
    // position: relative;
    .firstPane {
        width: 100%;
        height: 900px;
        background: url('../../assets/server-First-Pane.png') center no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    .content1 {
        width:711px;
        height:232px;
        font-size:166px;
        font-family:PingFangSC-Semibold,PingFang SC;
        font-weight:600;
        color:rgba(236,236,236,1);
        line-height:232px;
        position: absolute;
        top: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
    .content2 {
        width:672px;
        height:132px;
        font-size:48px;
        font-family:FZLTZHK--GBK1-0,FZLTZHK--GBK1;
        font-weight:normal;
        color:rgba(34,104,178,1);
        line-height:66px;
        position: absolute;
        top: 128px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .pane {
        height: 370px;
        width: 100%;
        position: absolute;
        top: 32.44%;
        display: flex;
        justify-content: center;
    }
    .subPane1 {
        position: relative;
        height: 370px;
        width: 331px;
        background: url('../../assets/server-subPane1.png') no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        margin-right: 8px;
        .title {
            width:150px;
            height:42px;
            font-size:30px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:42px;
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
        }
        .content {
            width:268px;
            height:157px;
            font-size:13px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:23px;
            position: absolute;
            bottom: 47px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .subPane2 {
        position: relative;
        height: 370px;
        width: 331px;
        background: url('../../assets/server-subPane2.png') no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        margin-right: 8px;
        .title {
            width:120px;
            height:42px;
            font-size:30px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:42px;
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
        }
        .content {
            width:268px;
            height:157px;
            font-size:13px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:23px;
            position: absolute;
            top: 166px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .subPane3 {
        position: relative;
        height: 370px;
        width: 331px;
        background: url('../../assets/server-subPane3.png') no-repeat;
        background-size: 100% 100%;
        margin-left: 8px;
        margin-right: 8px;
        .title {
            width:120px;
            height:42px;
            font-size:30px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:42px;
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
        }
        .content {
            width:268px;
            height:157px;
            font-size:13px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:23px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 166px;
        }
    }
    .content3 {
        width:406px;
        height:20px;
        font-size:14px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(50,48,60,1);
        line-height:20px;
        position: absolute;
        bottom: 154px;
        left: 50%;
        transform: translateX(-50%);
    }
    .connectUs {
        width:160px;
        height:46px;
        background:rgba(31,160,132,1);
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        cursor: pointer;
        .connectUsText {
            width:64px;
            height:22px;
            font-size:16px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:46px;
        }
    }
    .lastPane {
        height: 700px;
        width: 100%;
        background:rgba(50,48,60,1);
        position: relative;
        .content1 {
            width:482px;
            height:232px;
            font-size:166px;
            font-family:PingFangSC-Semibold,PingFang SC;
            font-weight:600;
            color:rgba(56,54,67,1);
            line-height:232px;
            position: absolute;
            top: 56px;
            left: 50%;
            transform: translateX(-50%);
        }
        .content2 {
            width:336px;
            height:132px;
            font-size:48px;
            font-family:FZLTZHK--GBK1-0,FZLTZHK--GBK1;
            font-weight:normal;
            color:rgba(255,255,255,1);
            line-height:66px;
            text-align: center;
            position: absolute;
            top: 148px;
        }
        .line {
            margin-top: 10px;
            width:776px;
            // height: 3px;
            // background-color: red;
            border: 2px dashed hsla(0, 0%, 59%, 1);
            border-radius: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 50.57%;
            //  z-index:555;
        }
        .server-image {
            width: 820px;
            height: 62px;
            background: url('../../assets/server-image2.png') no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 50.57%;
            left: 50%;
            transform: translateX(-50%);
            // z-index: 666;
            
        }
        .copyRight {
            width:457px;
            height:16px;
            font-size:12px;
            font-family:FZLTXHK--GBK1-0,FZLTXHK--GBK1;
            font-weight:normal;
            color:rgba(213,213,213,1);
            line-height:16px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 77px;
        }
    }
    .connectUsDialog {
        z-index: 66;
        width: 715px;
        height: 533px;
        background:rgba(255,255,255,1);
        background-size: 100% 100%;
        border-radius:3px;
        position: relative;

        .closeBottom {
            z-index: 77;
            width: 38px;
            height: 38px;    
            position: absolute;
            top: 22px;
            right: 22px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            .closeIcon {
                z-index: 77;
                background: url('../../assets/closeIconBlack.png') no-repeat center;
                background-size: 100% 100%;
                width: 20px;
                height: 20px;
            }
        }

        .phoneIcon {
            z-index: 77;
            background: url('../../assets/phoneIcon2.png') no-repeat center;
            background-size: 100% 100%;
            width: 61px;
            height: 60px;
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
        }
        .phoneNumber {
            z-index: 77;
            width:323px;
            height:51px;
            font-size:37px;
            font-family:FZLTZHK--GBK1-0,FZLTZHK--GBK1;
            font-weight:normal;
            color:rgba(50,48,60,1);
            line-height:51px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 147px;
        }
        .address {
            z-index: 77;
            width:381px;
            height:52px;
            font-size:16px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(136,136,136,1);
            line-height:26px;
            position: absolute;
            top: 220px;
            left: 50%;
            transform: translateX(-50%);
        }
        .QRcodeContainer {
            z-index: 77;
            width:90px;
            height:90px;
            background:rgba(255,255,255,1);
            background-size: 100% 100%;
            position: absolute;
            top: 339px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            .QRimage {
                width:90px;
                height:90px;
                background: url('../../assets/QRcode.jpg') no-repeat;
                background-size: 100% 100%;
            }
        }
        .content {
            z-index: 77;
            width:182px;
            height:20px;
            font-size:14px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(153,153,153,1);
            line-height:20px;
            position: absolute;
            top: 439px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}