.fenxi-page {
    position: relative;
    background-color: #ffffff;
    text-align: center;

    .head {
        width:1352px;
        height:95px;
        background-color: #072145;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 76px;
        display: flex;
        justify-content: center;
        align-items: center;

        .active {
        }

        .div{   
            margin: 10px;
            width:120px;
            height:40px;
            font-size:24px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:40px;
            border: 2px solid white;
        }
    }

    .content {
        position: absolute;
        top: 215px;
        left: 50%;
        width:1200px;
        height: 500px;
        transform: translateX(-50%);
        background-color: #ececec;
        display: flex;

        .left {

            display: inline-block;
            width:598px;
            text-align: center;
            
            .button {
                height:400px;
                width: auto;
                background-color: #ffffff;
                background: url('../../assets/网页-检测页.png');
                background-size: 100% 100%;
                cursor: pointer;
            }

            
        }

        .right {
            display: inline-block;
            width:600px;
            height:427px;
            // background-color: #007acc;
            .head {
                height: 300px;
                width: 598px;
                display: inline-block;
                margin-bottom: 30px;
            }

            .start {
                display: inline-block;
                width:359px;
                height:73px;
                background:rgba(11,43,86,1);
                font-size:36px;
                font-family:Microsoft YaHei UI;
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:73px;
                cursor: pointer;
            }
        }
    }
    .upload {
        display: none;
    }
}