 .index-page{
  min-width: 1030px;
  overflow: hidden;
  .fifthPane {
    height: 100vh;
    min-height: 900px;
    width: 100%;

    background:rgba(34, 104, 178, 1);
    position: relative;
    .fifthPane-content1 {
      width: 852px;
      height: 232px;
      position: absolute;
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
      font-size:166px;
      font-family:PingFangSC-Semibold,PingFang SC;
      font-weight:600;
      color:rgba(38,113,193,1);
      line-height:232px;
      display: flex;
      justify-content: center;
    }
    .fifthPane-content2 {
      width:962px;
      height:132px;
      font-size:48px;
      font-family:FZLTZHK--GBK1-0,FZLTZHK--GBK1;
      font-weight:normal;
      color:rgba(255,255,255,1);
      line-height:66px;
      position: absolute;
      top: 148px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .fifthPane-content3 {
      width: 100%;
      height: 354px;
      /* background-color: blue; */
      position: absolute;
      top: 34.78%;
      display: flex;
      justify-content: center;
      .subPane1 {
        margin: 0 10px;
        width:328px;
        height:354px;
        background:rgba(255,255,255,1);
        .subPane1Image {
          background: url('../../assets/sub1.png') center right no-repeat;
          background-size: 100% 100%;
          width: 328px;
          height: 232px;
          // cursor: pointer;
        }
        .zerler-span2 {
          width:291px;
          height:26px;
          font-size:20px;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
          color:rgba(0,0,0,1);
          line-height:26px;
          position: relative;
          left: 19px;
          top: 30px;
        }
        .zerler {
          width: 67px;
          height: 24px;
          background-color: rgba(31, 160, 132, 1);
          position: relative;
          left: 19px;
          top: 14px;
          text-align: center;
          .zerler-span {
            width:55px;
            height:24px;
            line-height:24px;
            font-size:14px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin-right: 6px;
            margin-left: 6px;
          }
        }
      }
    }
  }
  
  .subPane2 {
    margin: 0 10px;
    width:328px;
    height:354px;
    background:rgba(255,255,255,1);
    .subPane2Image {
      background: url('../../assets/fudan.png') center right no-repeat;
      background-size: 100% 100%;
      width: 328px;
      height: 232px;
      // cursor: pointer;
    }
    .fudan {
      width:68px;
      height:24px;
      background:rgba(31,160,132,1);
      position: relative;
      left: 19px;
      top: 14px;
      text-align: center;
      .fudan-span {
        width:56px;
        height:24px;
        line-height:24px;
        font-size:14px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        
        /* text-align: center; */
      }
    }
    .fudan-span2 {
      width:291px;
      height:52px;
      font-size:20px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(0,0,0,1);
      line-height:26px;
      margin-left: 19px;
      margin-top: 30px;
    }  
  }
  
  
  .subPane3 {
    margin: 0 10px;
    width:328px;
    height:354px;
    background:rgba(255,255,255,1);
    .subPane3Image {
      background: url('../../assets/jinrong.png') center right no-repeat;
      background-size: 100% 100%;
      width: 328px;
      height: 232px;
      // cursor: pointer;
    }
    .jinrong {
      
      width:96px;
      height:24px;
      background:rgba(31,160,132,1);
      position: relative;
      left: 19px;
      top: 14px;
      text-align: center;
      .jinrong-span {
        height:24px;
        line-height:24px;
        font-size:14px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
      }
    }
    .jinrong-span2 {
      width:291px;
      height:52px;
      font-size:20px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(0,0,0,1);
      line-height:26px;
      margin-left: 19px;
      margin-top: 30px;
    }
  }
  
  .fifthPane-moreServer {
    width:160px;
    height:46px;
    background:rgba(255,255,255,1);
    position: absolute;
    bottom: 102px;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .fifthPane-server {
    width:96px;
    height:22px;
    font-size:16px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(34,104,178,1);
    line-height:46px;
    
  }
 }
  