.index-page{ 
  overflow: hidden;
    .sixthPane {
        height: 100vh;
        min-height: 900px;
        width: 100%;
        background:rgba(255,255,255,1);
        position: relative;
        .sixthPane-content1 {
          position: absolute;
          top: 56px;
          left: 50%;
          transform: translateX(-50%);
          width:784px;
          height:232px;
          font-size:166px;
          font-family:PingFangSC-Semibold,PingFang SC;
          font-weight:600;
          color:rgba(246,246,246,1);
          line-height:232px;
          display: flex;
          justify-content: center;
        }
        .sixthPane-content2 {
          width:576px;
          height:132px;
          font-size:48px;
          font-family:FZLTZHK--GBK1-0,FZLTZHK--GBK1;
          font-weight:normal;
          color:rgba(34,104,178,1);
          line-height:66px;
          position: absolute;
          top: 148px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }
        .sixthPane-image {
          width: 652px;
          height: 326px;
          background:url('../../assets/sixthPane-image.png') no-repeat center;
          background-size: 100% 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 36.78%;
        }
        .sixthPane-bottom {
          width:160px;
          height:46px;
          background:rgba(31,160,132,1);
          position: absolute;
          bottom: 122px;
          left: 50%;
          transform: translateX(-50%);
          line-height: 46px;
          text-align: center;
          cursor: pointer;
          .sixthPane-bottomText {
            width:64px;
            height:22px;
            font-size:16px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:22px;
          }
        }
      }
      
}
