
  .container {
    height: 113px;
    width: 100%;
    position: relative;
    top: 20px;
  
    .logo {
        width: 200px;
        height: 100px;
        background: url('../../assets/logo2.png') center no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 23.39%;
        top: -15px;
    }
  
    .navigation {
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 40.77%;
        width: 435px;
        cursor:pointer;
  
        .connect-us {
          display: none;
        }
        .about-company {
          display: none;
        }
        
  
        .index {
            flex: 1;
            line-height: 50px;
            font-size:16px;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(51, 51, 51, 1);
            width: 200px;
            display: flex;
            justify-content: center;
            cursor:pointer;
            
        }
        .line {
            color:rgba(34, 104, 178, 1);
            position: relative;
        }
  
        .line::after{
            content: '';
            width: 21px;
            height: 2px;
            background-color: rgba(34, 104, 178, 1);
            position: absolute;
           // text-align: center;
            left:50%;
            transform: translateX(-50%);
            bottom: 0px;
        }
  }
  
  }

