.case_index {
    position: relative;
    .aboutus {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        height: 442px;
        width: 1200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: url('../../assets/网页2.png');
        background-size: 100%, 100%;
        
        .connectus {
            width: 483px;
            height: 157px;
            background: url('../../assets/网页2.1about us.png');
            background-size: 100%, 100%;
            position: absolute;
            bottom: 30px;
            left: 20px;
        }

        .aboutuszi {
            font-style: italic;
            font-size: 88px;
            font-weight: 500;
            color: #ffffff;
            position: absolute;
            bottom: 30px;
            left: 20px;
        }
    }

    .gongsijieshao {
        height: 502px;
        width: 1200px;
        background:rgba(246,246,246,1);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 602px;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        hr {
            width:647px;
            height:9px;
            background-color: #322f64;
            border-radius: 15px;
        }

        h2 {
            padding-left: 20px;
            height:47px;
            font-size:48px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(0,0,0,1);
            line-height:82px;
            margin-bottom: 30px;
        }

        p{
            text-indent:2em;
            margin-top: 30px;
            padding-left: 10px;
            font-size:24px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(80,80,80,1);
            line-height:44px;
        }
    }

    .connectus1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        height: 442px;
        width: 1200px;
        background-color: aqua;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: url('../../assets/网页2.png');
        background-size: 100%, 100%;
        top: 1170px;
        margin-bottom: 30px;

        .lianxiwomen {
            font-style: italic;
            font-size: 88px;
            font-weight: 500;
            color: #ffffff;
            position: absolute;
            bottom: 30px;
            left: 20px;
        }

        h2 {
            padding-left: 20px;
            position: absolute;
            top: 470px;
            height:47px;
            font-size:48px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(0,0,0,1);
            line-height:82px;
            margin-bottom: 30px;
        }

        hr {
            position: absolute;
            top: 550px;
            width:647px;
            height:9px;
            background-color: #322f64;
            border-radius: 15px;
        }

        .dibu {
            position: absolute;
            top: 590px;
            width: 1200px;
            height:240px;
            margin-bottom: 172px;
        }
        .fangkuai {
            height: 240px;
            display: inline-block;
            width: 520px;
            // border: 1px solid black;
            // margin: 20px;
            border-radius: 15px;
            background-color: #f6f6f6;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            font-weight: 400;
            color: #999AAA;

            b {
                display: inline-block;
                width: 130px;
            }

            .name {
                font-size:30px;
                font-family:Microsoft YaHei UI;
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height:82px;
                padding-left: 10px;
                text-align: center;
            }

            .email {
                height:26px;
                // text-align: center;
                padding-left: 40px;
                font-size: 18px;
                line-height: 52px;
                margin-top: 10px;
            }

            .phone {
                font-size: 18px;
                line-height: 52px;
                padding-left: 40px;
                margin-top: 10px;
            }
            
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}
