.about_index {
  position: relative;
  .hezuoyiyuan {
    width: 1247px;
    height: 418px;
    background-color: #07234a;
    position: absolute;
    left: 50%;
    top: 106px;
    transform: translateX(-50%);

    .diandian1 {
      width: 377px;
      height: 147px;
      background:url('../../assets/点阵.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 37px;
      left: 18px;
    }

    .diandian2 {
      position: absolute;
      top: 261px;
      right: 27px;
      width: 377px;
      height: 147px;
      background:url('../../assets/点阵.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .ditu {
    width: 1254px;
    height: 1010px;
    background-color: #667fc9;
    position: absolute;
    top: 573px;
    left: 50%;
    transform: translateX(-50%);
    background:url('../../assets/地图9.png') no-repeat;
    background-size: 100% 100%;
  }

  .yiyuantubiao {
    width: 1222px;
    height: 236px;
    position: absolute;
    top: 1616px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #667fc9;
    margin-bottom: 32px;
  }
}

 
   