.about_index {
  position: relative;
  

  .meitibaodao {
    position: relative;
    height: 100vh;
    // width: 100vw;
    // background-color: aqua;

    .content {
      min-height: 743px;
      height: 743px;
      width: 1263px;
      background-color: #f1f3f5;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 15px;
      // background:url('../../assets/网页5.1.png') no-repeat;
      // background-size: 100% 100%;

      .meiti {
        width:195px;
        height:84px;
        background:url('../../assets/__ ◤媒体报道.png') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 15px;
        left: 30px;
      }

      .content1 {
        width: 1144px;
        height: 401px;
        position: absolute;
        bottom: 207px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;

        .c1 {
          width: 330px;
          height: 401px;
          background-color: #ffffff;

          .icon {
            border-radius: 2px;
            width: 330px;
            height: 154px;
            background-color: #98bfe7;
            color: #141311;
            line-height: 154px;
            font-weight: 500;
            font-size: 40px;
            text-align: center;
            background:url('../../assets/微信图片_20200613203908.jpg') no-repeat;
            background-size: 100% 100%;
          }

          .head {
            font-size:18px;
            font-family:Microsoft YaHei UI;
            font-weight:bold;
            color:rgba(24,24,24,1);
            line-height:24px;
            margin-top: 10px;
            padding: 10px;
          }
          .body {
            font-size:14px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(120,120,120,1);
            line-height:24px;
            margin: 10px;
          }
          .foot {
            margin: 10px;
            font-size:14px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(120,120,120,1);
            line-height:24px;
          }
        }

        .c2 {
          width: 330px;
          height: 401px;
          background-color: #ffffff;

          .icon {
            width: 330px;
            height: 218px;
            background:url('../../assets/微信截图_20200607223026.png') no-repeat;
            background-size: 100% 100%;
            border-radius: 2px;
            
          }

          .head {
            font-size:20px;
            font-family:Microsoft YaHei UI;
            font-weight:bold;
            color:rgba(2,2,2,1);
            line-height:22px;
            margin-top: 10px;
            padding: 10px;
          }

          .body {
            font-size:14px;
            font-family:Microsoft YaHei UI;
            font-weight:400;
            color:rgba(131,131,131,1);
            line-height:24px;
            margin: 10px;
          }
        }

        .c3 {
          width: 330px;
          height: 401px;
          background-color: #ffffff;
          position: relative;
          
          .icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35px;
            width: 306px;
            height: 39px;
            background:url('../../assets/fangkuangs.png') no-repeat;
            background-size: 100% 100%;

          }
        }
      }
    }
  }

  .bottom {
    height: 64px;
    background-color: #ffffff;
  }

}

 
   