.xingqu-page {
    height: 500px;
    h2 {
        text-align: center;
        margin: 10px;
    }
    .upload-col {
        text-align: center;
        .upload-button {
            border-radius: 10px;
            cursor: pointer;
            margin-top: 20px;
            display: inline-block;
            width: 500px;
            height: 200px;
            background-color: #072145;
            text-align: center;
            line-height: 200px;
            color: #fffff3;

            i {
                font-size: 66px;
            }
        }
    }
    
    .start-col {
        display: flex;
        justify-content: center;
        margin-top: 200px;
        .start {
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 50px;
            display: inline-block;
            width: 300px;
            height: 100px;
            background-color: #94badf;
            font-size: 44px;
            text-align: center;
            color: #fffff3;
            line-height: 100px;
        }
    }
}